*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ЗМІННІ */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

body {
  font-family: var(--primary-font);
  color: var(--text);
  background-color: var(--white-background);
  font-size: 16px;
}

button {
  font-family: inherit;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.page-footer {
  background-color: var(--dark);
  padding: 100px 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.portfolio-button {
  color: var(--primary-brand);
  background-color: var(--light);
  font-size: 16px;
  letter-spacing: 0.04em;
}

.hero-button {
  color: var(--white-background);
  background-color: var(--primary-brand);
}

.logo-header,
.logo-footer {
  color: var(--primary-brand);
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio-header {
  color: var(--dark);
}

.logo-studio-footer {
  color: var(--light);
}

.nav-header-text {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-header-text:hover,
.nav-header-text:focus {
  color: var(--pressed-state);
}
.header-address-text {
  color: var(--text);

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address {
  font-style: normal;
}

.header-address-text:hover,
.header-address-text:focus {
  color: var(--pressed-state);
}

.main-text {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-sub-text {
  color: var(--text);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-text {
  color: var(--light);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 264px;
}

.hero-section {
  color: var(--white-background);
  background-color: var(--dark);
  /* height: 600px; */
  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 60px;
}

.hero-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}

.hero-text {
  color: var(--white-background);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.second-text {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-section {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.employee {
  background-color: var(--white-background);
  max-width: calc(100% - (24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}

/* 3  */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.list-priveleges {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.privileges-item {
  width: calc(100% - (24px * 3) / 4);
}

.privileges-text-title {
  margin-bottom: 8px;
}

.list-wawd {
  display: flex;
  gap: 24px;
}

.wawd-text {
  padding-bottom: 72px;
}

.wawd-section {
  padding-bottom: 120px;
}

.our-team-text {
  padding-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.team-photo {
  padding-bottom: 32px;
}

.text-team {
  text-align: center;
  padding-bottom: 8px;
}

.text-team-sub {
  text-align: center;
  padding-bottom: 32px;
}

.header {
  border-bottom: 1px solid var(--cornflower-color);
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 332px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.list-address {
  display: flex;
  gap: 40px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item-text {
  border: 1px solid var(--cornflower-color);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-main-text {
  padding-bottom: 8px;
}
